<div class="login-back">
  <div class="create-location-form">
    <div class="grid-x align-center">
      <h1 class="header">Add New Location</h1>
    </div>

    <div class="grid-x align-center">
      <%= form_for @location do |f| %>

        <%= f.label :address %>
        <%= f.text_field :address %>

        <%= f.label :rating %>
        <%= f.select :rating, 1..5 %>

        <%= f.submit %>

      <%end %>
    </div>

    <div class="grid-x align-center">
    <%= link_to "Go back", '/'%>
    </div>
  </div>
</div>
