<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="header">TravelAPP</li>
          <h6>beta</h6>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <a href="#">Menu</a>
            <% if current_user %>
            <ul class="menu vertical">
            <li><%= link_to "Profile Page", '/' %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
            <%else%>
              <ul class="menu vertical">
                <li><%= link_to "Sign In", user_session_path %></li>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
              </ul>
            <%end%>
          </li>
      </div>
    </div>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
